html {
    font-size: 16px;
    color: rgb(255, 255, 255) !important; 
}

.children {
    width: 1em;
    height: 1em;
    border-style: solid;
    border-width: 2px;
    color: blue;
    font-size: 2rem;
}

@media only screen and (max-width: 599px) {
    .navbar-brand {
        color: white !important;
    }
}

@media only screen and (min-width: 600px) {
    .navbar-brand {
        margin-left: 10%;
        margin-right: 10%;
        color: white !important;
    }
}

.navbar {
    height: 60px;
    background: rgba(0,0,0,0.6);
    position: absolute;
}

.nav-link {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 14px;
}

.navbar-nav {
    margin-right: 0 !important;
}

.auth-container {
    display: flex;
    float: right;
}

.navbar-custom {
    margin-right: 0 !important;
    width: 100%;
    justify-content: space-between !important;
}



.page1 {
    height: 150vh;
    background-image: url(assets/main-bg.jpg);
    background-size: cover;
    background-position: center;

}

.tulisan1 {
    width: 100%;
    font-family: Arial;
    padding-top: 10%;
    font-size: 8rem;
    font-weight: bold;
    font-style: normal;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5625rem;
    text-align: center;
    color: white;
}
 
.tulisan2 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 4%;
    font-family:arial;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 25px;   
}

.page2 {
    height: 150vh;
    background-image: url(assets/the-games-bg.jpg);
    background-size: cover;
    background-position: center;
}

.secondTextOne {
    color: white;
    font-size: 1rem;
    margin-left: 5vw;
    padding-top: 20vh;
}

.container {
    margin-inline: 5vw !important;
    padding-inline: 0;
}

#thegames {
    font-size: 4rem;
    color: white;
    font-weight: bold;
}

.page3 {
    height: 150vh;
    background-image: url(assets/features.jpg);
    background-size: cover;
    background-position: center;
}

.what1 {
    margin-top: 0px;
    margin-bottom: rem;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    color: white;
    margin-left: 280px;  
    padding-top: 300px;
}

.what2 {
    margin-top: 0;
    margin-bottom: rem;
    font-weight: 500;
    text-align: center;
    padding-top: 0;
    color: white;
    margin-left: 280px;
}

.tulisan4 {
    margin-top: 0px;
    margin-bottom: rem;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
    color: white;
    margin-left: 700px;
}

.traditional {
    color: yellow;
}

.gamesuit {
    color: yellow;
}

.TBD {
    color: yellow;
}

.page4 {
    height: 150vh;
    background-image: url(assets/requirements.png);
    background-size: cover;
    background-position: center;
}

.paragraf1 {
    margin-top: 0px;
    margin-bottom: rem;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
    color: white;
    margin-left: 250px;
    padding-top: 20vh;
}

.paragraf2 {
    margin-top: 0px;
    margin-bottom: rem;
    font-weight: 700;
    text-align: left;
    padding-top: 10px;
    color: white;
    margin-left: 250px;
    font-size: 28px;
}

.table {
    margin-top: 100px;
    margin-bottom: rem;
    font-weight: 300px;
    text-align: left;
    padding-top: 10px;
    color: white;
    margin-left: 0;
    margin-right: 70px;
}

.page5 {
    height: 150vh;
    background-image: url(assets/topscore.jpg);
    background-size: cover;
    background-position: center;
}

.topscores {
    margin-top: 0px;
    margin-bottom: rem;
    font-weight: 700;
    text-align: left;
    padding-top: 70vh;
    color: white;
    margin-left: 100px;
    font-size: 30px;
}

.thistop {
    margin-top: 0px;
    margin-bottom: rem;
    font-weight: 700;
    text-align: left;
    padding-top: 0;
    color: white;
    margin-left: 100px;
    font-size: 12px;
}

.btn1 {
    margin-left: 100px;
    font-size: 18px;
}

.twitter {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 700px;
    margin-top: -700px;
    float: right;
}